html {
  scrollbar-gutter: stable;
}

.body {
    background: #fff;
    margin:0;
    padding: 0;
    width: 100%;
}

.header-area {
    display: flex;
    align-items: center;
    padding: 4px 30px;
    background-color: black;
    gap: 24px;
}

.header-search-form {
    flex: 1;
    margin: 0 24px 0 150px;
    min-width: 300px;
    flex-shrink: 0;
}

.header-search-input {
    width: 60%;
    margin: 0 90px;
    padding: 4px 12px;
    color: #000;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 22px;
    line-height: 1;
    height: 28px;
    box-sizing: border-box;
}

.header-search-input::placeholder {
    color: #000;
    opacity: 1;
}

.logout-button,
.mypage-button,
.sell-button {
    flex-shrink: 0;
}

.logout-button-link,
.mypage-button-link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    padding: 4px 16px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    line-height: 1;
    height: 28px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
}

.sell-button-link {
    display: inline-block;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    font-size: 22px;
    padding: 4px 16px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    line-height: 1;
    height: 28px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.logout-button-link:hover,
.mypage-button-link:hover{
    color:#000;
    background-color: #fff;
}

.sell-button-link:hover {
    background-color: #d4d2d2;
}

@media (min-width: 768px) and (max-width: 850px) {
    .header-area {
        padding: 4px 15px;
        gap: 18px;
    }

    .header-logo img {
        width: 100px;
        height: auto;
    }

    .header-search-form {
        margin: 0 15px 0 30px;
        min-width: 250px;
    }

    .header-search-input {
        width: 70%;
        margin: 0 50px;
        font-size: 14px;
        height: 24px;
    }

    .logout-button,
    .mypage-button,
    .sell-button {
        margin-left: 0;
    }

    .logout-button-link,
    .mypage-button-link,
    .sell-button-link {
        font-size: 16px;
        padding: 2px 12px;
        height: 24px;
    }
}