.body {
    background: #fff;
    margin:0;
    padding: 0;
    width: 100%;
}

.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding :8px 40px;
    background-color: black;
    flex-wrap: wrap;
}

.header-search-form {
    flex: 1;
    margin: 0 24px 0 200px;
    min-width: 300px;
    flex-shrink: 0;
}

.header-search-input {
    width: 60%;
    margin: 0 90px;
    padding: 6px 16px;
    color: #000;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 22px;
}

.header-search-input::placeholder {
    color: #000;
    opacity: 1;
}

.login-button,
.mypage-button,
.sell-button {
    margin-left: 16px;
    flex-shrink: 0;
}

.login-button-link,
.mypage-button-link,
.sell-button-link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    padding: 6px 20px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.login-button-link:hover,
.mypage-button-link:hover,
.sell-button-link:hover {
    color:#000;
    background-color: #fff;
}