.product {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 2rem;
    max-width: 1000px;
    margin: 2rem auto;
    justify-content: center;
}

.product-image {
    flex: 0 0 300px;
}
.product-image img {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.product-details {
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

.product-summary {
    display: flex;
    flex-direction: column;
}
.product-name {
    font-size: 30px;
    margin: 0;
    font-weight: bold;
}
.product-brand {
    font-size: 14px;
    margin: 0;
}
.price-row {
    display: flex;
    align-items: baseline;
}
.product-price {
    font-size: 29px;
    margin: 8px 0;
}
.tax-included {
    font-size: 19px;
}

.product-actions {
    display: flex;
    align-items: flex-start;
}
.likes,
.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 15px 20px 30px;
    cursor: pointer;
}
.likes img,
.comments img {
    width: 29px; 
    height: 26px;
}
.like-count,
.comment-count {
    font-size: 14px;
    font-weight: bold
}

.purchase-button {
    display: block;
    width: 100%;
    padding: 5px 0;
    background-color: #ff5555;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
}
.purchase-button:hover {
    background-color: #f86d6d;
}

.product-description h3 {
    font-size: 25px;
    margin-top: 50px;
}
.product-description-content {   /* 商品説明の内容 */

}

.product-info h3 {
    margin-top: 30px;
    font-size: 25px;
}
.product-category, 
.product-condition {
    margin-top: 10px;
    padding: 0;
    font-weight: bold;
}
.category-name,
.condition-name {
    margin-left: 30px;
}
.category-name {
    display: inline-block;
    padding: 0px 20px;
    border: 1px solid #d9d9d9;
    background-color: #d9d9d9;
    border-radius: 10px;
    font-weight: normal;
    font-size: 14px;
}
.condition-name {
    font-weight: normal;
    font-size: 14px;
}

.product-comments {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.product-comments-title {
    font-size: 25px;
    color: #5f5f5f;
    margin-bottom: 20px;
}
.comment-count {

}
.comment-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.comment-avatar {
    display: flex;
    align-items: center;
    gap: 15px;
}
.comment-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}
.comment-user {
    font-weight: bold;
    font-size: 18px;
    color: #000;
    margin: 0;
}
.comment-content {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    background-color: #d9d9d9;
    margin-top: 20px;
}
.comment-form p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.comment-textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
}
.comment-submit {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #ff5555;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
}
.comment-submit:hover {
    background-color: #f86d6d;
}