.section-tabs {
    display: flex;
    border-bottom: 2px solid #5f5f5f;
    margin-top: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.section-tab-item {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 30px;
    cursor: pointer;
    color: #333;
    transition: color 0.2s ease, background-color 0.2s ease;
    position: relative;
    margin: 0;
    border-radius: 4px;
}

.section-tab-item:hover {
    background-color: #f5f3f3;
}

.section-tab-item.active {
    color: #e60023;
    font-weight: bold;
}

.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    margin: 0 auto;
    gap: 60px;
    padding: 60px 0;
}

.product-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 4px;
    transition: box-shadow 0.2s ease;
}

.product-image-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #d9d9d9;
    border-radius: 4px;
    overflow: hidden;
}

.product-image-wrapper:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.308);
}

.product-image {
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: cover;
}

.product-name {
    padding: 10px 0;
    margin: 0;
    font-size: 20px;
    color: #333;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 1024px) {
    .section-tab-item {
        font-size: 18px;
        padding: 10px 20px;
    }

    .products {
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        padding: 40px 0;
    }
}

@media (max-width: 780px) {
    .section-tab-item {
        font-size: 16px;
        padding: 8px 16px;
    }

    .products {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding: 30px 0;
    }
}

@media (max-width: 480px) {
    .section-tab-item {
        font-size: 14px;
        padding: 6px 12px;
    }

    .products {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px 0;
    }
    
    .product-name {
        font-size: 14px;
    }
}

